form{
    background-color: rgb(246, 246, 166);
    width: 500px;
    padding: 3%;
}

.container{
    width: 400px;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

label{
    width: 100px;
}

input{
    width: 230px;
}